{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
<section class="col-lg-6 mx-auto m-1 py-3 px-2">
    <a href="{{ path('app_category_index') }}" class="btn btn-dark mb-3"><i class="fa-solid fa-arrow-left"></i> back to category list</a>
    <h1>Add new Category</h1>

    {{ include('category/_form.html.twig') }}
</section>
{% endblock %}
